*

!.github/
!.github/**

!.githooks/
!.githooks/**

!CONTRIBUTING.md

!examples/
!examples/**

!src/
!src/**

!scripts/
!scripts/**

!test/
!test/**

!docs/
!docs/**

!.gitignore
!.npmignore
!CHANGELOG.md
!PUBLISHING.md
!deno.json
!deno.lock
!mkdocs.yml
!mod.ts
!README.md
!LICENSE
!flake.nix
!flake.lock

debug_*
debug.*
*.debug
.env
.env.local
*.log
*.tmp